<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.savannah.dao.PromoItemMapper">
  <resultMap id="BaseResultMap" type="com.savannah.entity.PromoItemDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="promo_id" jdbcType="INTEGER" property="promoId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="promo_item_price" jdbcType="DECIMAL" property="promoItemPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, promo_id, item_id, promo_item_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promo_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listPromoItemByPromoId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from promo_item
    where promo_id = #{promoId,jdbcType=INTEGER}
  </select>
  <select id="selectByItemId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from promo_item ptm, promo_info pin
    where ptm.item_id = #{itemId,jdbcType=INTEGER} and now() > pin.start_date and pin.end_date > now()
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from promo_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByItemId" parameterType="java.lang.Integer">
    delete from promo_item
    where item_id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPromoId" parameterType="java.lang.Integer">
    delete from promo_item
    where promo_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.savannah.entity.PromoItemDO">
    insert into promo_item (id, promo_id, item_id, 
      promo_item_price)
    values (#{id,jdbcType=INTEGER}, #{promoId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, 
      #{promoItemPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertListSelective" parameterType="com.savannah.entity.PromoItemDO">
    insert into promo_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="promoId != null">
        promo_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="promoItemPrice != null">
        promo_item_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <foreach collection="list">
        <if test="id != null">
          #{id,jdbcType=INTEGER},
        </if>
        <if test="promoId != null">
          #{promoId,jdbcType=INTEGER},
        </if>
        <if test="itemId != null">
          #{itemId,jdbcType=INTEGER},
        </if>
        <if test="promoItemPrice != null">
          #{promoItemPrice,jdbcType=DECIMAL},
        </if>
      </foreach>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="com.savannah.entity.PromoItemDO">
    insert into promo_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="promoId != null">
        promo_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="promoItemPrice != null">
        promo_item_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="promoId != null">
        #{promoId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="promoItemPrice != null">
        #{promoItemPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.savannah.entity.PromoItemDO">
    update promo_item
    <set>
      <if test="promoId != null">
        promo_id = #{promoId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="promoItemPrice != null">
        promo_item_price = #{promoItemPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByItemIdSelective" parameterType="com.savannah.entity.PromoItemDO">
    update promo_item
    <set>
      <if test="promoId != null">
        promo_id = #{promoId,jdbcType=INTEGER},
      </if>
      <if test="promoItemPrice != null">
        promo_item_price = #{promoItemPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.savannah.entity.PromoItemDO">
    update promo_item
    set promo_id = #{promoId,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=INTEGER},
      promo_item_price = #{promoItemPrice,jdbcType=DECIMAL},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>